#output {
  font-family: sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  text-align:center;
}

#screensaver {
    position: absolute;
    width: 100%;
    height:100%;
    left:0px;
    top: 0px;
    display: none;
    z-index:9999;
    background: -webkit-linear-gradient(#24C6DC 10%, #514A9D 90%) whitesmoke;
    background: linear-gradient(#24C6DC 10%, #514A9D 90%) whitesmoke;
    text-align: center;
    color: whitesmoke;
    font-weight: 300;
}

#screensaver > .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#screensaver > .content time {
  display: block;
  font-size: 3.5rem;
  line-height: 1.875rem;
}

#screensaver > .content time:first-of-type {
  font-size: 13rem;
  line-height: 20rem;
}

#screensaver > .unlock {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-shadow: 0 0 5px whitesmoke;
  color: rgba(255, 255, 255, 0.5);
  -webkit-animation: flash 1500ms ease infinite alternate;
          animation: flash 1500ms ease infinite alternate;
}


.chat
{
    height: 562px;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}
